body {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background-image: url('./assets/tato2.png');
    background-position: calc(100% - 5px) 100%;
    background-repeat: no-repeat;
    background-size: auto 12rem;
    @media only screen and (max-width: 600px) {
        background-size: auto 8rem;
        background-position: 100% 100%;
    }
}
